header{
    background-color: rgba(193, 179, 179, 0.481);
    display: flex;
    width: 100%;
    font-size: 20px;
    color: #000;
    font-weight: 10;
    text-align: center;
    float: inline-start;
}

#aec{
    margin-left: auto;
    display: flex;
    gap: 20px;
}

#about-button{
    font-family: sans-serif;
    background-color: rgba(193, 179, 179, 0.481);
    border-color:  rgba(193, 179, 179, 0.481);
    margin: 10px;
    border-width: 0px;
}
#education-button{
    font-family: sans-serif;
    background-color: rgba(193, 179, 179, 0.481);
    border-color:  rgba(193, 179, 179, 0.481);
    margin: 10px;
    border-width: 0px;
}
#contacts-button{
    font-family: sans-serif;
    background-color: rgba(193, 179, 179, 0.481);
    border-color:  rgba(193, 179, 179, 0.481);
    border-width: 0px;
    margin: 10px;
}

#portfolio-logo{
    font-family: sans-serif;

}

body{
    background-color: rgb(215, 204, 204);
    font-family: sans-serif;
}
#cv-button{
    width: 150px;
}
#my-pic{
    padding-right: 200px;
    padding-left: 200px;
    float: right;
    margin-top: 50px;
}

#buttons-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px 250px;
}

#info-span {
    display: flex;
    gap: 20px;
    float: right;
    justify-content: flex-end;
}
